/* Adicione isso ao final do seu style.css */

.medicamento-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-left: 5px solid #2d5a4c;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.btn-delete {
    width: auto;
    padding: 8px 12px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 8px;
    font-size: 0.9rem;
    margin-left: 10px;
}

.btn-delete:hover {
    background-color: #cc0000;
}